{{ asset_add("styles.css", "anomaly.extension.button_block::css/block.css") }}

<a
        id="button--{{ block.id }}"
        rel="{{ block.rel }}"
        onclick="{{ block.onclick|raw }}"
        href="{{ block.url.normalize }}"
        target="{{ block.target ?: '_self' }}"
        title="{{ block.entry.title.value ?: block.text }}"
        class="
            {{ block.classes }}
            button
            button__size--{{ block.size.key }}
            button__color--{{ block.color.key }}
            button__border_radius--{{ block.border_radius.key }}
        "
        style="width: {{ block.width.value ?: 'auto' }};">

    {% if (block.icon.value or block.image.id) and block.placement.key in ['top', 'left'] %}
        <span class="button__icon button__icon--{{ block.placement.key }}">
            {% if block.image.id %}
                {{ block.image.make.inline|raw }}
            {% else %}
                {{ block.icon|raw }}
            {% endif %}
        </span>
    {% endif %}

    <span class="button__text">{{ block.text }}</span>

    {% if (block.icon.value or block.image.id) and block.placement.key in ['bottom', 'right'] %}
        <span class="button__icon button__icon--{{ block.placement.key }}">
            {% if block.image.id %}
                {{ block.image.make.inline|raw }}
            {% else %}
                {{ block.icon|raw }}
            {% endif %}
        </span>
    {% endif %}
</a>
